html *
{
   font-family: Arial!important;
}

body{
  background-color: black;
  margin: auto;
  width: 70%;
  padding: 2%;
}

.bigText1 {
    opacity: 0;
    font-size: 10.9925vw;
    color: white;
}
.bigText2 {
    opacity: 0;
    font-size: 10.9925vw;
    color: white;
}
.bigText3 {
    opacity: 0;
    font-size: 10.9925vw;
    color: white;
}
.bigText4 {
    opacity: 0;
    font-size: 10.9925vw;
    color: white;
}
.bigText5 {
    opacity: 0;
    font-size: 10.9925vw;
    color: white;
}
.bigText6 {
    opacity: 0;
    font-size: 10.9925vw;
    color: white;
}
.bigText7 {
    opacity: 0;
    font-size: 10.9925vw;
    color: white;
}
.bigText8 {
    opacity: 0;
    font-size: 10.9925vw;
    color: white;
}

.smallText9 {
    opacity: 0;
    font-size: 19.5px;
    color: white;
  }
  
.smallText10{
    opacity: 0;
    font-size: 19.5px;
    color: white;
}

.smallText11{
    opacity: 0;
    font-size: 19.5px;
    color: white;
}

.cool {
    font: bold 15px Arial;
    text-decoration: none;
    color: white;
}